# Created by .ignore support plugin (hsz.mobi)
.idea/.gitignore
.idea/Storage.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
db.sqlite3
venv
migrations/
.idea/vcs.xml
main/__init__.py
main/__pycache__/
main/admin.py
main/apps.py
main/forms.py
main/models.py
main/templates/
main/tests.py
main/views.py
manage.py
requirements.txt
static/
storage/
uploads/
venv/bin/
venv/include/
venv/lib/python3.8/site-packages/Cryptodome/
venv/lib/python3.8/site-packages/Django-3.1.6.dist-info/
venv/lib/python3.8/site-packages/Flask-2.0.1.dist-info/
venv/lib/python3.8/site-packages/Jinja2-3.0.1.dist-info/
venv/lib/python3.8/site-packages/LICENSE
venv/lib/python3.8/site-packages/MarkupSafe-2.0.1.dist-info/
venv/lib/python3.8/site-packages/PyJWT-2.1.0.dist-info/
venv/lib/python3.8/site-packages/PyYAML-5.4.1.dist-info/
venv/lib/python3.8/site-packages/Werkzeug-2.0.1.dist-info/
venv/lib/python3.8/site-packages/__pycache__/
venv/lib/python3.8/site-packages/_cffi_backend.cpython-38-x86_64-linux-gnu.so
venv/lib/python3.8/site-packages/_distutils_hack/
venv/lib/python3.8/site-packages/_yaml/
venv/lib/python3.8/site-packages/anyio-3.3.0.dist-info/
venv/lib/python3.8/site-packages/anyio/
venv/lib/python3.8/site-packages/asgiref-3.4.1.dist-info/
venv/lib/python3.8/site-packages/asgiref/
venv/lib/python3.8/site-packages/beautifulsoup4-4.9.3.dist-info/
venv/lib/python3.8/site-packages/bootstrap4/
venv/lib/python3.8/site-packages/bs4/
venv/lib/python3.8/site-packages/cached_property-1.5.2.dist-info/
venv/lib/python3.8/site-packages/cached_property.py
venv/lib/python3.8/site-packages/certifi-2021.5.30.dist-info/
venv/lib/python3.8/site-packages/certifi/
venv/lib/python3.8/site-packages/cffi-1.14.6.dist-info/
venv/lib/python3.8/site-packages/cffi.libs/
venv/lib/python3.8/site-packages/cffi/
venv/lib/python3.8/site-packages/charset_normalizer-2.0.4.dist-info/
venv/lib/python3.8/site-packages/charset_normalizer/
venv/lib/python3.8/site-packages/click-8.0.1.dist-info/
venv/lib/python3.8/site-packages/click/
venv/lib/python3.8/site-packages/crispy_forms/
venv/lib/python3.8/site-packages/cryptography-3.4.8.dist-info/
venv/lib/python3.8/site-packages/cryptography/
venv/lib/python3.8/site-packages/defusedxml-0.7.1.dist-info/
venv/lib/python3.8/site-packages/defusedxml/
venv/lib/python3.8/site-packages/distutils-precedence.pth
venv/lib/python3.8/site-packages/django/__init__.py
venv/lib/python3.8/site-packages/django/__main__.py
venv/lib/python3.8/site-packages/django/__pycache__/
venv/lib/python3.8/site-packages/django/apps/
venv/lib/python3.8/site-packages/django/bin/
venv/lib/python3.8/site-packages/django/conf/__init__.py
venv/lib/python3.8/site-packages/django/conf/__pycache__/
venv/lib/python3.8/site-packages/django/conf/app_template/__init__.py-tpl
venv/lib/python3.8/site-packages/django/conf/app_template/admin.py-tpl
venv/lib/python3.8/site-packages/django/conf/app_template/apps.py-tpl
venv/lib/python3.8/site-packages/django/conf/app_template/models.py-tpl
venv/lib/python3.8/site-packages/django/conf/app_template/tests.py-tpl
venv/lib/python3.8/site-packages/django/conf/app_template/views.py-tpl
venv/lib/python3.8/site-packages/django/conf/global_settings.py
venv/lib/python3.8/site-packages/django/conf/locale/
venv/lib/python3.8/site-packages/django/conf/project_template/
venv/lib/python3.8/site-pack
ages/django/conf/urls/
venv/lib/python3.8/site-packages/django/contrib/__init__.py
venv/lib/python3.8/site-packages/django/contrib/__pycache__/
venv/lib/python3.8/site-packages/django/contrib/admin/__init__.py
venv/lib/python3.8/site-packages/django/contrib/admin/__pycache__/
venv/lib/python3.8/site-packages/django/contrib/admin/actions.py
venv/lib/python3.8/site-packages/django/contrib/admin/apps.py
venv/lib/python3.8/site-packages/django/contrib/admin/checks.py
venv/lib/python3.8/site-packages/django/contrib/admin/decorators.py
venv/lib/python3.8/site-packages/django/contrib/admin/exceptions.py
venv/lib/python3.8/site-packages/django/contrib/admin/filters.py
venv/lib/python3.8/site-packages/django/contrib/admin/forms.py
venv/lib/python3.8/site-packages/django/contrib/admin/helpers.py
venv/lib/python3.8/site-packages/django/contrib/admin/locale/
venv/lib/python3.8/site-packages/django/contrib/admin/models.py
venv/lib/python3.8/site-packages/django/contrib/admin/options.py
venv/lib/python3.8/site-packages/django/contrib/admin/sites.py
venv/lib/python3.8/site-packages/django/contrib/admin/static/
venv/lib/python3.8/site-packages/django/contrib/admin/templates/
venv/lib/python3.8/site-packages/django/contrib/admin/templatetags/
venv/lib/python3.8/site-packages/django/contrib/admin/tests.py
venv/lib/python3.8/site-packages/django/contrib/admin/utils.py
venv/lib/python3.8/site-packages/django/contrib/admin/views/
venv/lib/python3.8/site-packages/django/contrib/admin/widgets.py
venv/lib/python3.8/site-packages/django/contrib/admindocs/
venv/lib/python3.8/site-packages/django/contrib/auth/__init__.py
venv/lib/python3.8/site-packages/django/contrib/auth/__pycache__/
venv/lib/python3.8/site-packages/django/contrib/auth/admin.py
venv/lib/python3.8/site-packages/django/contrib/auth/apps.py
venv/lib/python3.8/site-packages/django/contrib/auth/backends.py
venv/lib/python3.8/site-packages/django/contrib/auth/base_user.py
venv/lib/python3.8/site-packages/django/contrib/auth/checks.py
venv/lib/python3.8/site-packages/django/contrib/auth/common-passwords.txt.gz
venv/lib/python3.8/site-packages/django/contrib/auth/context_processors.py
venv/lib/python3.8/site-packages/django/contrib/auth/decorators.py
venv/lib/python3.8/site-packages/django/contrib/auth/forms.py
venv/lib/python3.8/site-packages/django/contrib/auth/handlers/
venv/lib/python3.8/site-packages/django/contrib/auth/hashers.py
venv/lib/python3.8/site-packages/django/contrib/auth/locale/
venv/lib/python3.8/site-packages/django/contrib/auth/management/
venv/lib/python3.8/site-packages/django/contrib/auth/middleware.py
venv/lib/python3.8/site-packages/django/contrib/auth/mixins.py
venv/lib/python3.8/site-packages/django/contrib/auth/models.py
venv/lib/python3.8/site-packages/django/contrib/auth/password_validation.py
venv/lib/python3.8/site-packages/django/contrib/auth/signals.py
venv/lib/python3.8/site-packages/django/contrib/auth/templates/
venv/lib/python3.8/site-packages/django/contrib/auth/tokens.py
venv/lib/python3.8/site-packages/django/contrib/auth/urls.py
venv/lib/python3.8/site-packages/django/contrib/auth/validators.py
venv/lib/python3.8/site-packages/django/contrib/auth/views.py
venv/lib/python3.8/site-packages/django/contrib/contenttypes/__init__.py
venv/lib/python3.8/site-packages/django/contrib/contenttypes/__pycache__/
venv/lib/python3.8/site-packages/django/contrib/contenttypes/admin.py
v
env/lib/python3.8/site-packages/django/contrib/contenttypes/apps.py
venv/lib/python3.8/site-packages/django/contrib/contenttypes/checks.py
venv/lib/python3.8/site-packages/django/contrib/contenttypes/fields.py
venv/lib/python3.8/site-packages/django/contrib/contenttypes/forms.py
venv/lib/python3.8/site-packages/django/contrib/contenttypes/locale/
venv/lib/python3.8/site-packages/django/contrib/contenttypes/management/
venv/lib/python3.8/site-packages/django/contrib/contenttypes/models.py
venv/lib/python3.8/site-packages/django/contrib/contenttypes/views.py
venv/lib/python3.8/site-packages/django/contrib/flatpages/__init__.py
venv/lib/python3.8/site-packages/django/contrib/flatpages/__pycache__/
venv/lib/python3.8/site-packages/django/contrib/flatpages/admin.py
venv/lib/python3.8/site-packages/django/contrib/flatpages/apps.py
venv/lib/python3.8/site-packages/django/contrib/flatpages/forms.py
venv/lib/python3.8/site-packages/django/contrib/flatpages/locale/
venv/lib/python3.8/site-packages/django/contrib/flatpages/middleware.py
venv/lib/python3.8/site-packages/django/contrib/flatpages/models.py
venv/lib/python3.8/site-packages/django/contrib/flatpages/sitemaps.py
venv/lib/python3.8/site-packages/django/contrib/flatpages/templatetags/
venv/lib/python3.8/site-packages/django/contrib/flatpages/urls.py
venv/lib/python3.8/site-packages/django/contrib/flatpages/views.py
venv/lib/python3.8/site-packages/django/contrib/gis/
venv/lib/python3.8/site-packages/django/contrib/humanize/
venv/lib/python3.8/site-packages/django/contrib/messages/
venv/lib/python3.8/site-packages/django/contrib/postgres/
venv/lib/python3.8/site-packages/django/contrib/redirects/__init__.py
venv/lib/python3.8/site-packages/django/contrib/redirects/__pycache__/
venv/lib/python3.8/site-packages/django/contrib/redirects/admin.py
venv/lib/python3.8/site-packages/django/contrib/redirects/apps.py
venv/lib/python3.8/site-packages/django/contrib/redirects/locale/
venv/lib/python3.8/site-packages/django/contrib/redirects/middleware.py
venv/lib/python3.8/site-packages/django/contrib/redirects/models.py
venv/lib/python3.8/site-packages/django/contrib/sessions/__init__.py
venv/lib/python3.8/site-packages/django/contrib/sessions/__pycache__/
venv/lib/python3.8/site-packages/django/contrib/sessions/apps.py
venv/lib/python3.8/site-packages/django/contrib/sessions/backends/
venv/lib/python3.8/site-packages/django/contrib/sessions/base_session.py
venv/lib/python3.8/site-packages/django/contrib/sessions/exceptions.py
venv/lib/python3.8/site-packages/django/contrib/sessions/locale/
venv/lib/python3.8/site-packages/django/contrib/sessions/management/
venv/lib/python3.8/site-packages/django/contrib/sessions/middleware.py
venv/lib/python3.8/site-packages/django/contrib/sessions/models.py
venv/lib/python3.8/site-packages/django/contrib/sessions/serializers.py
venv/lib/python3.8/site-packages/django/contrib/sitemaps/
venv/lib/python3.8/site-packages/django/contrib/sites/__init__.py
venv/lib/python3.8/site-packages/django/contrib/sites/__pycache__/
venv/lib/python3.8/site-packages/django/contrib/sites/admin.py
venv/lib/python3.8/site-packages/django/contrib/sites/apps.py
venv/lib/python3.8/site-packages/django/contrib/sites/locale/
venv/lib/python3.8/site-packages/django/contrib/sites/management.py
venv/lib/python3.8/site-packages/django/contrib/sites/managers.py
venv/lib/python3.8/site-packages/django/contrib/sites/middleware.py
ve
nv/lib/python3.8/site-packages/django/contrib/sites/models.py
venv/lib/python3.8/site-packages/django/contrib/sites/requests.py
venv/lib/python3.8/site-packages/django/contrib/sites/shortcuts.py
venv/lib/python3.8/site-packages/django/contrib/staticfiles/
venv/lib/python3.8/site-packages/django/contrib/syndication/
venv/lib/python3.8/site-packages/django/core/
venv/lib/python3.8/site-packages/django/db/__init__.py
venv/lib/python3.8/site-packages/django/db/__pycache__/
venv/lib/python3.8/site-packages/django/db/backends/
venv/lib/python3.8/site-packages/django/db/models/
venv/lib/python3.8/site-packages/django/db/transaction.py
venv/lib/python3.8/site-packages/django/db/utils.py
venv/lib/python3.8/site-packages/django/dispatch/
venv/lib/python3.8/site-packages/django/forms/
venv/lib/python3.8/site-packages/django/http/
venv/lib/python3.8/site-packages/django/middleware/
venv/lib/python3.8/site-packages/django/shortcuts.py
venv/lib/python3.8/site-packages/django/template/
venv/lib/python3.8/site-packages/django/templatetags/
venv/lib/python3.8/site-packages/django/test/
venv/lib/python3.8/site-packages/django/urls/
venv/lib/python3.8/site-packages/django/utils/
venv/lib/python3.8/site-packages/django/views/
venv/lib/python3.8/site-packages/django_bootstrap4-2.3.1.dist-info/
venv/lib/python3.8/site-packages/django_crispy_forms-1.11.2.dist-info/
venv/lib/python3.8/site-packages/django_keycloak-0.1.2.dev0-py3.8.egg-info/
venv/lib/python3.8/site-packages/django_keycloak/__init__.py
venv/lib/python3.8/site-packages/django_keycloak/__pycache__/
venv/lib/python3.8/site-packages/django_keycloak/admin/
venv/lib/python3.8/site-packages/django_keycloak/app_settings.py
venv/lib/python3.8/site-packages/django_keycloak/apps.py
venv/lib/python3.8/site-packages/django_keycloak/auth/
venv/lib/python3.8/site-packages/django_keycloak/factories.py
venv/lib/python3.8/site-packages/django_keycloak/hashers.py
venv/lib/python3.8/site-packages/django_keycloak/management/
venv/lib/python3.8/site-packages/django_keycloak/middleware.py
venv/lib/python3.8/site-packages/django_keycloak/models.py
venv/lib/python3.8/site-packages/django_keycloak/remote_user.py
venv/lib/python3.8/site-packages/django_keycloak/response.py
venv/lib/python3.8/site-packages/django_keycloak/services/
venv/lib/python3.8/site-packages/django_keycloak/tests/
venv/lib/python3.8/site-packages/django_keycloak/urls.py
venv/lib/python3.8/site-packages/django_keycloak/views.py
venv/lib/python3.8/site-packages/django_oidc_provider-0.7.0-py3.8.egg-info/
venv/lib/python3.8/site-packages/ecdsa-0.17.0.dist-info/
venv/lib/python3.8/site-packages/ecdsa/
venv/lib/python3.8/site-packages/flask/
venv/lib/python3.8/site-packages/future-0.18.2-py3.8.egg-info/
venv/lib/python3.8/site-packages/future/
venv/lib/python3.8/site-packages/h11-0.12.0.dist-info/
venv/lib/python3.8/site-packages/h11/
venv/lib/python3.8/site-packages/httpcore-0.13.6.dist-info/
venv/lib/python3.8/site-packages/httpcore/
venv/lib/python3.8/site-packages/httpx-0.18.2.dist-info/
venv/lib/python3.8/site-packages/httpx/
venv/lib/python3.8/site-packages/idna-3.2.dist-info/
venv/lib/python3.8/site-packages/idna/
venv/lib/python3.8/site-packages/itsdangerous-2.0.1.dist-info/
venv/lib/python3.8/site-packages/itsdangerous/
venv/lib/python3.8/site-packages/jinja2/
venv/l
ib/python3.8/site-packages/jose/
venv/lib/python3.8/site-packages/jwkest/
venv/lib/python3.8/site-packages/jwt/
venv/lib/python3.8/site-packages/keycloak-3.1.0.dist-info/
venv/lib/python3.8/site-packages/keycloak/
venv/lib/python3.8/site-packages/libfuturize/
venv/lib/python3.8/site-packages/libpasteurize/
venv/lib/python3.8/site-packages/markupsafe/
venv/lib/python3.8/site-packages/oauthlib-3.1.1.dist-info/
venv/lib/python3.8/site-packages/oauthlib/
venv/lib/python3.8/site-packages/oidc_provider/__init__.py
venv/lib/python3.8/site-packages/oidc_provider/__pycache__/
venv/lib/python3.8/site-packages/oidc_provider/admin.py
venv/lib/python3.8/site-packages/oidc_provider/apps.py
venv/lib/python3.8/site-packages/oidc_provider/compat.py
venv/lib/python3.8/site-packages/oidc_provider/lib/
venv/lib/python3.8/site-packages/oidc_provider/locale/
venv/lib/python3.8/site-packages/oidc_provider/management/
venv/lib/python3.8/site-packages/oidc_provider/middleware.py
venv/lib/python3.8/site-packages/oidc_provider/models.py
venv/lib/python3.8/site-packages/oidc_provider/settings.py
venv/lib/python3.8/site-packages/oidc_provider/signals.py
venv/lib/python3.8/site-packages/oidc_provider/static/
venv/lib/python3.8/site-packages/oidc_provider/templates/
venv/lib/python3.8/site-packages/oidc_provider/tests/
venv/lib/python3.8/site-packages/oidc_provider/urls.py
venv/lib/python3.8/site-packages/oidc_provider/version.py
venv/lib/python3.8/site-packages/oidc_provider/views.py
venv/lib/python3.8/site-packages/openid/
venv/lib/python3.8/site-packages/past/
venv/lib/python3.8/site-packages/pip-21.3.1.dist-info/
venv/lib/python3.8/site-packages/pip/
venv/lib/python3.8/site-packages/pkg_resources/
venv/lib/python3.8/site-packages/pyasn1-0.4.8.dist-info/
venv/lib/python3.8/site-packages/pyasn1/
venv/lib/python3.8/site-packages/pycparser-2.20.dist-info/
venv/lib/python3.8/site-packages/pycparser/
venv/lib/python3.8/site-packages/pycryptodomex-3.10.1.dist-info/
venv/lib/python3.8/site-packages/pyjwkest-1.4.2-py3.8.egg-info/
venv/lib/python3.8/site-packages/python3_openid-3.2.0.dist-info/
venv/lib/python3.8/site-packages/python_jose-3.3.0.dist-info/
venv/lib/python3.8/site-packages/python_keycloak_client-0.2.3.dist-info/
venv/lib/python3.8/site-packages/pytz-2021.1.dist-info/
venv/lib/python3.8/site-packages/pytz/
venv/lib/python3.8/site-packages/requests-2.26.0.dist-info/
venv/lib/python3.8/site-packages/requests/
venv/lib/python3.8/site-packages/requests_oauthlib-1.3.0.dist-info/
venv/lib/python3.8/site-packages/requests_oauthlib/
venv/lib/python3.8/site-packages/rfc3986-1.5.0.dist-info/
venv/lib/python3.8/site-packages/rfc3986/
venv/lib/python3.8/site-packages/rsa-4.7.2.dist-info/
venv/lib/python3.8/site-packages/rsa/
venv/lib/python3.8/site-packages/setuptools-57.4.0.dist-info/
venv/lib/python3.8/site-packages/setuptools/
venv/lib/python3.8/site-packages/six-1.16.0.dist-info/
venv/lib/python3.8/site-packages/six.py
venv/lib/python3.8/site-packages/sniffio-1.2.0.dist-info/
venv/lib/python3.8/site-packages/sniffio/
venv/lib/python3.8/site-packages/social_auth_app_django-5.0.0.dist-info/
venv/lib/python3.8/site-packages/social_auth_core-4.1.0.dist-info/
venv/lib/python3.8/site-packages/social_core/
venv/lib/python3.8/site-packages/social_django/__init__.py
venv/lib/python3.8/site-packages/social_django/__pycache__/
venv/lib/python3.8/site-packages/social_django/admin.py
venv/lib/python3.8/site-packages/social_django/apps.py
venv/lib/python3.8/site-packages/social_django/config.py
venv/lib/python3.8/site-packages/social_django/context_processors.py
venv/lib/python3.8/site-packages/social_django/fields.py
venv/lib/python3.8/site-packages/social_django/management/
venv/lib/python3.8/site-packages/social_django/managers.py
venv/lib/python3.8/site-packages/social_django/middleware.py
venv/lib/python3.8/site-packages/social_django/models.py
venv/lib/python3.8/site-packages/social_django/storage.py
venv/lib/python3.8/site-packages/social_django/strategy.py
venv/lib/python3.8/site-packages/social_django/urls.py
venv/lib/python3.8/site-packages/social_django/utils.py
venv/lib/python3.8/site-packages/social_django/views.py
venv/lib/python3.8/site-packages/soupsieve-2.2.1.dist-info/
venv/lib/python3.8/site-packages/soupsieve/
venv/lib/python3.8/site-packages/sqlparse-0.4.1.dist-info/
venv/lib/python3.8/site-packages/sqlparse/
venv/lib/python3.8/site-packages/starlette-0.15.0.dist-info/
venv/lib/python3.8/site-packages/starlette/
venv/lib/python3.8/site-packages/urllib3-1.26.6.dist-info/
venv/lib/python3.8/site-packages/urllib3/
venv/lib/python3.8/site-packages/uvicorn-0.14.0.dist-info/
venv/lib/python3.8/site-packages/uvicorn/
venv/lib/python3.8/site-packages/werkzeug/
venv/lib/python3.8/site-packages/yaml/
venv/lib64
venv/pyvenv.cfg
