# Created by .ignore support plugin (hsz.mobi)
db.sqlite3
venv/
main/migrations/
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/Storage.iml
/.idea/vcs.xml
