{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row mt-3">
        <div class="col">
            <h1> Wellcome! </h1>
            <hr>
            <form action="{% url 'search' %}" method="POST">
                <div class="container">
                {% csrf_token %}
                <div class="row">
                <div class="col p-1">
                <div class="row">
                    <div class="col-3">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="0" id="radio_username" name="for_name"
                                   {{ radio_username }}>
                            <label class="form-check-label" for="radio_username">username</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="1" id="radio_userId" name="for_name"
                                   {{ radio_userId }}>
                            <label class="form-check-label" for="radio_userId">userId</label>
                        </div>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" name="name" value={{ name }}>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col">
                        <label class="form-label" for="date_from">Date from</label>
                        <input id="date_from" type="text" class="form-control" name="dateFrom" value={{ dateFrom }}
                               placeholder="yyyy-mm-dd">
                    </div>
                    <div class="col">
                        <label class="form-label" for="date_to">Date To</label>
                        <input id="date_to" type="text" class="form-control" name="dateTo" value={{ dateTo }}
                               placeholder="yyyy-mm-dd">
                    </div>

                </div>
                    <div class="col">
                        <input type="submit" name="submit" class="btn btn-primary" value="Search">
                    </div>
                </div>
                    <div class="col p-1" >
                        {% load static %}
                        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                        <link rel="stylesheet" href="{% static 'chosen/chosen.min.css' %}" >
                        <script src="{% static 'chosen/chosen.jquery.min.js' %}"></script>
                        <select id="types-select" class="form-control" multiple tabindex="-1" style="width: 400px;">
                            <option>opti1</option>
                            <option>opti2</option>
                            <option>opti3</option>
                            <option>opti4</option>
                            <option>opti5</option>
                            <option>opti6</option>
                            <option>opti7</option>
                            <option>opti8</option>
                            <option>opti9</option>
                            <option>opti10</option>
                            <option>opti11</option>
                            <option>opti12</option>
                            <option>opti13</option>
                            <option>opti14</option>
                            <option>opti15</option>
                        </select>
                        <script>
                            $(document).ready(function() {
                                $('#types-select').chosen();
                            });
                            $('.chosen-choices').addClass('form-control');
                        </script>
                    </div>
                </div>
            </div>
            <hr>
            {% if user_found %}
                {% for user in users %}
                    <div class="card card-body p-2 my-1">
                        <div class="row">
                            <div class="col">
                                username: {{ user.username }}
                            </div>
                            <div class="col-6">
                                userId: {{ user.id }}
                            </div>
                            <div class="col">
                                enabled: {{ user.enabled }}
                            </div>
                            <div class="col-md-auto">
                                <input type="checkbox" name='users' value='{{ user.id }}'>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                Roles:
                                {% for role in user.roles %}
                                    <a href="{{ role }}"> {{ role }} </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </form>
                <hr>
                <table class="table table-bordered">
                    <tbody>
                        {% for event in events %}
                            {% for e in event %}
                                <tr>
                                    {% for res, value in e.items %}
                                        <tr>
                                            <th scope="row">{{ res }}</th>
                                            <td>{{ value }}</td>
                                        </tr>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}