<!DOCTYPE html>
<html lang="ru">

{% load bootstrap5 %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>{{ pagename }} -</title>

    {% bootstrap_css %}
    {% block extra_css %}
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}
</head>


<body>
<div id="app">
    <header class="bg-light">
        {% include 'base/menu.html' %}
    </header>
    <main class="container-fluid pl-lg-5 pr-lg-5 pl-5 pr-5">
            {% block content %} {% endblock %}
    </main>
    <footer class="footer">
        {% block footer %}
        <div class="container text-center">
            <span class="text-muted">&copy; *, {% now "Y" %}</span>
        </div>
        {% endblock %}
    </footer>
</div>

{% block extra_js %}
{% bootstrap_javascript %}
{% endblock %}
</body>


</html>
