{% extends 'base/base.html' %}
{% block content %}
<div class="container">
    <div class="row mt-3">
        <div class="col">
            <form action="{% url 'events' %}" method="POST">
                <div class="container">
                {% csrf_token %}
                <div class="row">
                    <div class="col p-1">
                        <div class="row">
                            <div class="col-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" value="0" id="radio_username" name="for_name"
                                           {{ radio_username }}>
                                    <label class="form-check-label" for="radio_username">username</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" value="1" id="radio_userId" name="for_name"
                                           {{ radio_userId }}>
                                    <label class="form-check-label" for="radio_userId">userId</label>
                                </div>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" name="name" value={{ name }}>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col">
                                <label class="form-label" for="date_from">Date from</label>
                                <input id="date_from" type="text" class="form-control" name="dateFrom" value={{ dateFrom }}
                                       placeholder="yyyy-mm-dd">
                            </div>
                            <div class="col">
                                <label class="form-label" for="date_to">Date To</label>
                                <input id="date_to" type="text" class="form-control" name="dateTo" value={{ dateTo }}
                                       placeholder="yyyy-mm-dd">
                            </div>
                        </div>
                        <div class="col pt-1" >
                            {% include 'pages/filtersANDtypes/types.html' %}
                        </div>
                        <div class="pt-1 d-grid gap-1">
                            <input type="submit" name="submit" class="btn btn-primary" value="Search">
                        </div>
                    </div>
                    <div class="col p-1" >
                        {% include 'pages/filtersANDtypes/filter.html' %}
                        <div class="col pt-1 d-grid gap-2">
                            <a class="btn btn-primary" href="/create/">
                                Create New Filter</a>
                            <a class="btn btn-primary" href="/manage/">
                                Manage Filters</a>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            {% if user_found %}
                {% for user in users %}
                    <div class="card card-body p-2 my-1">
                        <div class="row">
                            <div class="col">
                                username: {{ user.username }}
                            </div>
                            <div class="col-6">
                                userId: {{ user.id }}
                            </div>
                            <div class="col">
                                enabled: {{ user.enabled }}
                            </div>
                            <div class="col-md-auto">
                                <input type="checkbox" name='users' value='{{ user }}'>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                Roles:
                                {% for role in user.roles %}
                                    <a href="{{ role }}"> {{ role }} </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </form>
                <hr>
                <table class="table table-bordered">
                    <tbody>
                        {% for event in events %}
                            {% for e in event %}
                                <tr>
                                    {% for res, value in e.items %}
                                        <tr>
                                            <th scope="row">{{ res }}</th>
                                            <td>{{ value }}</td>
                                        </tr>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}