{% load static %}
<script src="{% static 'jQuery/jquery-3.6.0.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'chosen/chosen.min.css' %}" >
<script src="{% static 'chosen/chosen.jquery.min.js' %}"></script>
<div class="col" >
    <select name="types-filter" id="types-filter" class="form-control" multiple tabindex="-1">
    {% for filter in filters %}
        <option value="{{ filter.types }}" name={{ filter.name }} >{{ filter.name }}</option>
    {% endfor %}
    </select>
</div>
<div class="col pt-1">
    <div class="card-body p-2 filter-select" style="min-height: 76px;">
    </div>
</div>
<div class="col pt-1 d-grid gap-2">
    <a class="btn btn-primary" href="/create/">
        Create New Filter</a>
    <a class="btn btn-primary" type="submit" name="submit" value="Users" >
        Manage Filters</a>
</div>
<script>
    $(document).ready(function() {
        $('#types-filter').chosen();
    });
    $('.chosen-choices').addClass('form-control');

    $('#types-filter').change(function() {
        let $option = $(this).find('option:selected');
        let value = $option.val();
        if (value) {
            $('.filter-select').html(value)
        } else {
            $('.filter-select').html('Nothing')
        }
    });
</script>